/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */
@tailwind utilities;

html, body {
  @apply h-full bg-gray-200 text-gray-700;
}

#app {
  @apply h-full flex;
}

h1 {
  @apply text-5xl;
}

a {
  @apply border-b-2 border-dotted border-gray-500;
  &:hover {
    @apply border-0;
    color: #f38423;
  }
}

.fa-ul {
  @apply ml-16;
}
.fa-li {
  left: calc(-32px - 1.5em);
  width: 1.5em;
  top: 1px;
}