/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */
@tailwind utilities;

html, body {
  @apply min-h-screen bg-gray-200 text-gray-700;
}

#app {
  @apply min-h-screen flex;
}

h1 {
  @apply text-5xl;
}

a {
  @apply border-b-2 border-dotted border-gray-500;
  &:hover {
    @apply border-0;
    color: #f38423;
  }
}
.fa-ul {
  @apply ml-4;
  li {
    @apply flex flex-col;
  }
}
.fa-li {
  @apply relative;
  @apply text-center;
  @apply w-full;
  @apply left-0;
  @apply mt-4;
  top: 1px;
}
@screen md {
  .fa-ul {
    @apply ml-16;
    li {
      @apply inline-block;
    }
  }
  .fa-li {
    @apply mt-0;
    @apply absolute;
    left: calc(-32px - 1.5em);
    width: 1.5em;
  }
}